body {
	background-color: #00FF04;
}

.outer {
	display: table;
	position: absolute;
	height: 99%;
	width: 99%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 70%;
	background-color: #001BFF;
}

.header h1 {
	font-family: "Arial Black", Gadget, sans-serif;
}

.header {
	vertical-align: middle;
	width: cover;
	height: 3em;
	background-color: #F700FF;
}

.main {
	height: cover;
	vertical-align: center;
	margin: 1em;
}

 .main .form_button {
	color: white;
	background-color: #FF0000;
	height: 3em;
	width: 20em;
	margin: 1em;
	border: none;
}

.main .form_button:hover {
	border: none;
	background-color: #D40000;
}

.main .form_button:active {
	border: none;
	background-color: #AB0000;
}

.main .text {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: xx-large;
}